.main-layout {
    display: flex;
    min-height: 100vh;    
    flex-direction: row; // Ensures the layout is vertical

}
.content-area{
    display: flex;
    flex-grow: 1;
}
.main-container {
    display: flex;
    flex-grow: 1;
}
/* Initially hide the sidebar and make it visible on hover */
.sidebar-hover-target {
    display: flex;
    min-height: 100vh;   
    width: 0; /* Adjust based on your sidebar's width */
    transition: 0.5s ease;
    will-change: width;
}

.main-layout:hover .sidebar-hover-target {
    width: 250px; /* Adjust based on your sidebar's width */
    min-height: 100vh;   
    display: flex;
    
}

/* Optional: Add this if you want a visible handle or area to hover over */
.sidebar-hover-target::before {
    content: '';
    // position: absolute;
    display: flex;
    width: 20px; /* Width of the hover target area */
    background: rgba(0,0,0,0.1);
    min-height: 100vh;    /* Slightly visible to indicate the hover area */
}

.logo {
    width: 50px;
    height: 50px;
}